@media (min-width: 600px) and (max-width: 1250px){
  body {
    font-family: 'Roboto-Bold', 'Roboto-Medium', 'Roboto', 'Helvetica', sans-serif;
    font-size: 15px;
    padding-left: 100px;
  }
}


@media (min-width: 1250px){




}

  #main{
    width: 1000px;
    margin: 0 auto;
  }

  #header{
    top: 0;
    left: 0;

  }

  body {
  /*  background: url('bgimg.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='bgimg.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='bgimg.jpg', sizingMethod='scale')"; */
    font-family: 'Roboto-Bold', 'Roboto-Medium', 'Roboto', 'Helvetica', sans-serif;
    font-size: 15px;
    padding-left: 100px;
    color: black;
    margin-top: 100px;
  }

  a{
    color:black;
    text-decoration: none; /* no underline */
  }

  h1{
    font-family: 'Roboto-Light', 'Roboto', 'Helvetica', sans-serif;
    font-size: 30px;
    padding-top: 30px;
  }
